<div class="w-1/2 mx-auto">
  <h2 class="font-bold text-3xl mb-6">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4 w-full">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded shadow-md" %>
    </div>

    <div class="mb-4 w-full">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded shadow-md" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "w-full rounded-lg bg-blue-900 text-white shadow-md mt-2 p-2 hover:bg-blue-800" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
