<div id="<%= dom_id(link) %>_card" class="flex w-full items-center justify-between p-4 border border-blue-900 rounded-md shadow">
  <div class="flex flex-col w-1/3">
    <% if link.name.blank? %>
      <p><%= truncate(link.original_url, length: 30) %></p>
    <% else %>
      <p class="font-bold text-md"><%= link.name %></p>
      <p class="text-sm text-slate-800"><%= truncate(link.description, length: 30) %></p>
    <% end %>
  </div>
  <div class="flex flex-col w-1/3 justify-center items-center">
    <%= link_to(redirect_path(link.short_url), redirect_path(link.short_url), data: { turbo: false }, class: "text-blue-900 hover:text-blue-800 hover:underline") %>
  </div>
  <div class="flex flex-col w-1/3 justify-end items-end">
    <div class="flex flex-row gap-3">
      <%= link_to(link_path(link)) do %>
        <%= inline_svg_tag("chart.svg", class: "size-6") %>
      <% end %>
      <%= link_to(edit_link_path(link)) do %>
        <%= inline_svg_tag("edit.svg", class: "size-6") %>
      <% end %>
      <%= button_to(link_path(link), method: :delete, form_class: "size-6") do %>
        <%= inline_svg_tag("trash.svg", class: "size-6") %>
      <% end %>
    </div>
  </div>
</div>
