<div id="<%= dom_id(link) %>_card" class="flex w-full items-center justify-between p-4 border border-blue-900 rounded-md shadow">
  <p><%= truncate(link.original_url, length: 30) %></p>
  <p><%= link.short_url %></p>
  <%= button_to(link_path(link), method: :delete) do %>
    <%= image_tag("xmark.svg", class: "size-4 hover:cursor-pointer") %>
  <% end %>
</div>
